<ion-view  view-title="{{title}}">
  <ion-content scroll="false" class="intro has-footer" >

    <ion-slides slider="swiper">
      <ion-slide-page>
        <img src="img/intro_trouver.png"/>
        <h2>Trouvez autour de vous...</h2>
      </ion-slide-page>
      <ion-slide-page>
        <img src="img/intro_lieux.png"/>
        <h2>... des lieux incontournables !</h2>
        <img src="img/logo_small.png"/>
       </ion-slide-page>
    </ion-slides>

  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear button-light" ng-click="hideForever()">Toujours passer</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-light pull-right" ng-click="modal.hide()">Passer</button>
    </div>
  </ion-footer-bar>
</ion-view>
