<ion-view view-title="Informations">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-divider">
        Licence
      </div>

      <div class="item item-body">
        <p>
        Les sources de cette application sont disponibles sur Github en licence open source GNU GPL 3.0.
        </p>
        <p>
          github.com/olco/anecdotea
        </p>
        <p>
        Autrement dit, vous pouvez utiliser les sources de ce logiciel pour votre propre projet.
        </p>
      </div>

    </div>
  </ion-content>

</ion-view>
