<ion-view view-title="A propos">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-divider">
        Version
      </div>

      <div class="item item-body">
        0.0.1 (beta)
      </div>

      <div class="item item-divider">
        Licence
      </div>

      <div class="item item-body">
        <p>
        Les sources de cette application sont disponibles sur Github en licence open source GNU GPL 3.0.
        </p>
        <p>
          github.com/olco/anecdotea
        </p>
        <p>
        Autrement dit, vous pouvez utiliser les sources de ce logiciel pour votre propre projet.
        </p>
      </div>

	  <div class="item item-divider">
        Merci à...
      </div>

	  <div class="item item-body">
	    <p><img src="./img/cordova.png" width="100%"/></p>
        <p><img src="./img/angularjs.png" width="100%"/></p>
        <p><img src="./img/crosswalk.png"  width="100%"/></p>
		<p><img src="./img/ionic-logo.png" width="100%"/></p>
        <p><img src="./img/openlayer.png"  width="100%"/></p>
		<p><img src="./img/osm.jpg"  width="100%"/></p>
      </div>

    </div>
  </ion-content>

</ion-view>
