<ion-view view-title="Paramètres">
  <ion-content>
    <ion-list>
      <ion-toggle ng-model="notification">
        Notifier à moins de {{distance}} mètres d'un lieu
      </ion-toggle>
      <ion-toggle ng-model="intro" ng-change="introChange()">
        Lancer l'introduction
      </ion-toggle>
      <ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/settings/apropos">
        A propos
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
