

<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

  <!-- Locations Tab -->
  <ion-tab title="A proximité" icon-off="ion-location" icon-on="ion-location" href="#/tab/locations">
    <ion-nav-view name="tab-locations"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Carte" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
