/* Empty. Add your own CSS if you like */


.location-item{
  /*  Simple transition */
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.intro {
  border-color: #387ef5 !important;
  background-color: #387ef5 !important;
  color: #ffffff !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  vertical-align:middle;
}

.intro h2{

  color: #ffffff !important;

}
/*
.hauteur {
  height: 100%;
  color: #ffffff !important;
}*/

